/*Lots of Selector Types, check out these links*/

/*  http://www.w3schools.com/cssref/css_selectors.asp */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors  */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors */
/*Class selectors start with a dot . */

.intro-section {
  color: blue;
  font-size: 18px;
}

.content-section {
  background-color: lightgray;
  padding: 10px;
}

.highlight-section {
  border: 2px solid orange;
  font-weight: bold;
}

.footer-section {
  background-color: #222;
  color: white;
  text-align: center;
}

/* ID selector */

#pageTitle {
  color: red;
  text-decoration: underline;
}
