body {
  background: url(https://images.unsplash.com/photo-1520741412100-24cd6c2832e5?auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
}

div {
  border: 5px dotted orange;
  padding: 10px;
}

.header {
  background: blue;
}

.main {
  background: navy;
}

.section {
  background: purple;
}

.footer {
  background: darkblue;
}

p {
  color: yellow;
}

span {
  background: red;
  color: black;
}
