
body {
  margin: 0;
  height: 100vh;
  background-color: yellow;
}

.face {
    width: 400px;
    margin: 100px auto;
    position: relative;
}

.eye {
    width: 140px;
    height: 140px;
    background-color: white;
    position: absolute;
    top: 0;
}

.left-eye {
    left: 0;
}

.right-eye {
    right: 0;
}

.pupileL {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.pupileR {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 0;
}

.mouth {
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 170px;
}

.tongue {
  width: 100px;
  height: 250px;
  background-color: red;
  position: absolute;
  bottom: -90px;
  left: 150px;
}

.tooth {
  width: 50px;
  height: 40px;
  background-color: white;
  position: absolute;
  margin: 20px;
}

.tooth1 {
  width: 50px;
  height: 40px;
  background-color: white;
  margin: 20px;
}
