body {
    font-family: Arial, sans-serif;
    background-color: #cf5a11;
}

.container {
    margin: 40px;
    padding: 20px;
    background-color: white;
}

.header {
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    background-color: #ff0000f8;
}

.content {
    margin: 10px;
    padding: 25px;
}